<form method='GET'>
	<legend>
		<label>ID: </label><input type="text" name="ID" id="id">
		<label>Title: </label><input type="text" name="Title" id="title"/>
		<label>Body: </label><textarea rows="4" cols="50">
		</textarea>
	</legend>
</form>