<form method='GET'>
	<legend>
		<label>ID: 		</label><input type="text" name="ID" id="id" value=" <%= post.id %>"> <br>
		<label>Title: 	</label><input type="text" name="Title" id="title" value="<%= post.title %>"> <br>
		<label>Body: 	</label><br><textarea rows="4" cols="50"> <%= post.body %> </textarea>
		</textarea>
	</legend>
</form>