<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<nav>
		<a href="/">Posts</a>
		<a href="/new">New Post</a>
		<a href="/<%= post.id %>/edit">Edit</a>
	</nav>
	<h1> Show ID: <%= post.id %></h1>
	<h2> Title: <%= post.title %></h2>
</body>
</html>